@import url('https://fonts.googleapis.com/css?family=Roboto');

/*Main box*/
html {
    font-family: 'Roboto', sans-serif;
}
@media (min-width: 768px) {
    html, body, #main-page > .row {
        height: 100%;
    }
    #main-page.container {
        height: calc(100% - 45px);
    }
}
header {
    text-align: center;
    background-color: #0B0C07;
    opacity: 0.9;
    padding: 2px;
    color: #9A9A89;
    font-style: italic;
}
footer {
    height: 25px;
    text-align: center;
    padding: 0 !important;
    border-width: 2px 0 0 0 !important;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
footer a {
    color: #e6b500;
    text-decoration: underline;
    transition: 0.5s ease;
}
footer a:hover {
    color: #ffd024;
    text-decoration: underline;
    transition: 0.5s ease;
}
body {
    background: url("../img/background_dofus1.jpg") no-repeat;
    background-size: cover;
}
.blink_me {
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
/*Utility zone*/
@media (min-width: 768px) {}
@media (max-width: 767px) {}

/*General style*/
@media (max-width: 991px) {
    #main-page {
        width: 100%;
        max-width: 100%;
    }
}
.item {
    background: #41423c;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
    width: 52px;
    height: 52px;
    padding: 3px;
    margin: 1px;
    flex-shrink: 0;
    background-image: url("../img/ressourcesSprite.png");
    background-position: -780px -208px;
    cursor: pointer;
}
.border_item {
    border: 2px solid #666958;
    box-sizing: content-box;
    width: 45px;
    height: 45px;
    cursor: initial;
}
.disabled_item {
    background-color: #292928;
    cursor: initial;
    filter: grayscale(100%);
    opacity: 0.4;
}
.flex-hr {
    width: 100%;
    border-top: 1px solid rgba(230,230,230,.3);
    margin: .9rem 10px 0;
}
.head {
    border: 2px solid #151412;
    background: linear-gradient(to bottom, #6a6c6b 0%,#757573 47%,#6b6b69 100%);
    font-weight: bold;
    text-transform: uppercase;
    color: #f3c417;
    text-shadow: 0 0 2px black;
    text-align: center;
    padding: 5px;
}

/*Modal popup Mentions légales*/
#mentionsLegalesModal .modal-title {
    width: 100%;
    position: relative;
    left: 15px;
}
#mentionsLegalesModal .close {
    padding-right: 1.3rem;
}
#mentionsLegalesModal .close:focus {
    outline: none;
}
#mentionsLegalesModal .modal-body {
    text-align: center;
    background-color: #23241e;
    color: #c9c9c7;
    border: 2px solid black;
    border-top-width: 0px;
    box-shadow: inset 0px 0px 3px rgba(0,0,0,0.9);
}

/*Timer box*/
@media (max-width: 767px) {
    .timer-box {
        height: calc(60% - 40px);
    }
}
.timer-box {
    margin-top: 20px;
    margin-bottom: 20px;
}
#timer-content {
    position: relative;
    background: #23241e;
    text-align: center;
    padding: 5px;
    border: 2px solid #151412;
    max-height: calc(100% - 41px);
    overflow: auto;
    min-height: 82px;
}
.timer-item {
    background: #33342c;
    text-align: center;
    padding: 5px;
    border: 2px solid #151412;
    display: flex;
    color: #b6b6b2;
}
.timer-item-progress-box {
    width: 100%;
    flex-shrink: 1;
}
.timer-item-progress-value {
    position: relative;
    top: -3px;
    font-weight: 500;
}
.timer-item-progress {
    position: relative;
    top: -6px;
    margin: 0px 15px;
    background: #23241e;
    border: 2px solid black;
    box-shadow: inset 0px 0px 10px black;
    border-radius: 0;
    height: 20px;
}
.timer-item-progress > .progress-bar {
    transition: 1s linear;
}
.timer-item-close, .timer-item-restart {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    color: #1e2013;
    font-weight: 500;
    box-shadow: 1px 1px 1px black;
    border-color: #c9ed11;
    margin: auto 10px;
    cursor: pointer;
}
.timer-item-close:focus, .timer-item-restart:focus {
    outline: none;
}
.timer-item-close {
    background: #c9ed11 url("../img/cross.png") no-repeat;
    background-size: contain;
}
.timer-item-restart {
    background: #c9ed11 url("../img/restart.png") no-repeat;
    background-size: contain;
}

/*Resources box*/
@media (max-width: 767px) {
    .resources-box {
        height: calc(40% - 40px);
    }
}
.resources-box {
    margin-top: 20px;
    margin-bottom: 20px;
}
.resources-content {
    position: relative;
    background: #23241e;
    text-align: center;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    border: 2px solid #151412;
    max-height: calc(100% - 38px); /* -38px => header */
    overflow:  auto;
}
.resources-job-name {
    display: flex;
    text-align: left;
    color: #c9c9c7;
    font-weight: 500;
    margin-bottom: 5px;
}
.resources-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}